.homeWrapper {
  height: 100%;
}

.homeBlock {
  display: flex;
  background-color: #1c1c1df8;
  padding: 3rem;
  width: 70rem;
  height: 100%;
  justify-content: space-between;
  color: black;
  font-family: Roboto, Helvetica, Arial, san-serif;
  font-size: 48px;
}
