.squareWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.squareWrapper:hover > .casinoIconBlock > .icon {
  font-size: 28px;
  transition: 0.2s;
}

.squareWrapper:hover > .squareTextWrapper > .upperText {
    color: #f3ce13ed;
    transition: 0.2s;
  }

.squareWrapper:hover > .emojiEventsIconBlock > .icon {
  font-size: 28px;
  transition: 0.1s;
}

.squareWrapper:hover > .gitHubIconBlock > .icon {
  font-size: 28px;
  transition: 0.15s;
}
.squareWrapper:hover > .emailIconBlock > .icon {
  font-size: 28px;
  transition: 0.15s;
}

.casinoIconBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  max-width: 3.4rem;
  max-height: 3.4rem;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 4px;
  background-image: linear-gradient(to right,grey, darkgrey );
}
/*#00b4db, #0083b0*/
.emojiEventsIconBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  max-width: 3.4rem;
  max-height: 3.4rem;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 4px;
  background-image: linear-gradient(-20deg, grey, darkgrey);
}

/*#00cdac 0%, #8ddad5 100%*/
.gitHubIconBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  max-width: 3.4rem;
  max-height: 3.4rem;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 4px;
  background-image: linear-gradient(to right, grey, darkgrey );
}

/*#4078c0, #6e5494*/
.emailIconBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  max-width: 3.4rem;
  max-height: 3.4rem;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 4px;
  background-image: linear-gradient(25deg,darkgrey,grey );
}

/*#d64c7f, #ee4758 50%*/
.icon {
  color: white;
  font-size: 24px;
  transform: scale(1.1);
}

.upperText {
  text-align: left;
  font-weight: 600;
  font-size: 16px;
}

.lowerText {
  margin-top: 0.2rem;
  text-align: left;
  font-weight: 200;
  color: #dededfdf;
  font-size: 14px;
}
