.movieListViewWrapper {
  height: 100%;
  overflow-y: auto;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	/*background-color: black;*/
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: grey;

}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #f3ce13ed;
}

.movieListViewBlock {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  width: 70rem;
  height: 100%;
}

.title {
  text-align: left;
  color: lightgrey;
  font: 24px Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.MovieListHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  margin: 5px;
  border-bottom: solid 2px ;
}

.MovieListHeader > p {
  margin-left: 5px;
  margin-right: 5px;
  text-align: right;
  padding: 1px;
}

.MovieListHeader > h3 {
  color: darkgrey;
  margin-left: 5px;
  margin-right: 5px;
  text-align: left;
}
